{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul>
            {% for transaction in transactions %}
                <li>{{ transaction.commerce }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}